<nav class="navbar navbar-expand-md navbar-dark topbar bg-dark" role="navigation">
  <div class="<%= container_classes %>">
    <h2>
      <%= link_to "Covidex", root_path, class: "mb-0 navbar-white" %>
    </h2>
    <div>
    <a href="https://github.com/castorini/covidex" target="_blank" rel="noopener noreferrer">
      <img src="<%= asset_path('github.png') %>" height="28px" alt="Github logo" class="github-logo" />
    </a>
    <a
      class="feedback-link"
      href="https://docs.google.com/forms/d/e/1FAIpQLSe4_5imtXsvPHGRPFfRaXPaohEpJZAYz8OmDaDe0a4pLsTUdg/viewform?usp=sf_link"
      target="_blank"
      rel="noopener noreferrer"
    >
      Feedback
    </a>
    </div>
  </div>
</nav>

<div class="navbar-search navbar navbar-light" role="navigation">
  <div class="<%= container_classes %>">
    <%= render_search_bar %>
  </div>
</div>
